.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
}
  
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 1rem;
}
  
.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    overflow-y: auto;
}
  
.filters {
    width: 20%;
    padding: 1rem;

    button {
        color: white;
        font-weight: bold;
        background-color: darkslategray;
        border-color: white;
    }

    button:hover {
        filter: brightness(130%);
    }
}
  
.products {
    justify-content: center;
}
  